[SERVICE]
    Flush         5
    Log_Level     info
    Parsers_File  /etc/fluent-bit/parsers.conf

[INPUT]
    Name          systemd
    Tag           host.*
    Systemd_Filter  _SYSTEMD_UNIT=ssh.service
    Systemd_Filter  _SYSTEMD_UNIT=fluent-bit.service

[OUTPUT]
    Name          es
    Match         host.*
    Host          {{ es_host }}
    HTTP_User     {{ fluentbit_es_user }}
    HTTP_Passwd   {{ fluentbit_es_password }}
    Port          {{ es_port }}
    Index         fluentbit
    Logstash_Format On
    Replace_Dots  On
    Suppress_Type_Name On